
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
header{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: black;
    padding: 10px;
    text-align: center;
}
nav{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover{
    background-color: blueviolet;
}
section{
    padding: 20px;
}
footer{
    background-color: crimson;
    text-align: center;
    padding: 9px;
}