h1{
    background-color: yellow;
    color: blue;
}
h2{
    background-color: aqua;
    color: magenta;
}
h3{
    background-color: white;
    color: darkgreen;
}
h4{
    background-color: aliceblue;
    color: purple;
}
p{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
body{
    background-color: lightgrey;
}